.left {
  margin-top: 188px;
  margin-bottom: 150px;
  margin-left: 200px;
  border-radius: 30px;
  z-index: 1;
}
.left_wrapper {
  border-radius: 40px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("https://thumbs.dreamstime.com/b/beach-sea-18378306.jpg"),
    linear-gradient(to bottom right, #88ebef, #535be6);
  background-blend-mode: overlay;
  height: 650px;
  width: 400px;
  padding: 48px;
}

.day {
  font-size: 45px;
  font-weight: 2000;
}

.date {
  font-size: 25px;
  margin-top: 15px;
}

.weather_loc {
  display: flex;
  align-items: center;
  gap: 10px;
}

.loc_logo {
  padding-top: 25px;
}

.location {
  font-size: 25px;
  margin-top: 25px;
}

.sunshine {
  margin-top: 180px;
}

.temp {
  margin-top: 20px;
  font-size: 50px;
  font-weight: 2000;
}

.cond {
  margin-top: 20px;
  font-size: 40px;
}
